doctype
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

head
  title= "Heidi & Rasmus"
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(charset="utf-8")
  include includes/styles
  include includes/scripts
body
  include includes/gcf
  div.welcome
    h1= "Heidi & Rasmus"
  article.main
    section#login.section
      h2.inline= t("login.header")
      form.inline(action="/login", method="post")
        input(type="hidden", name="username", value="cuicca")
        input(type='password', name="password", placeholder= t("login.placeholder"))
        i.fa.fa-sign-in.loginbutton
