body {
	a { text-decoration: none; }
	font-family: "Arial", "sans-serif";
	header {
		background: linear-gradient(0deg, #282D30, #3C4043);
		nav {
			width: 100%;
			text-align: center;
			width: 800px;
			margin: auto;
			a {
				display: inline-block;
				color: #cecece;
				padding: 10px;
			}				
		}
	}
	.welcome {
		font-size: 30px;
		text-align: center;
		margin: 30px 0 30px 0;
	}
	.main {
		.banner-image {
			margin: auto;
			display: block;
		}
		section {
			margin-top: 20px;
			text-align: center;
			* {text-align: left}
			> h2 {
				width: 200px;
			}
			p {
				padding-bottom: 5px;
				text-align: left;
			}
		}
	}
}

.text-box {
	width: 600px;
}

.info-box {
	width: 400px;
}

.inline {
	vertical-align: top;
	display: inline-block;
}

.break {
	display: block;
}

.google-maps {
	width: 400px;
	height: 400px;
}